<label for="basic-url" class="form-label">SkyTube export file</label>
<!-- <div class="input-group mb-3">
  <input type="file" class="form-control" id="path" aria-describedby="basic-addon3" accept=".skytube"
    [(ngModel)]="path">

  <button type="button" class="btn btn-primary" (click)="onClickOpenFile(path)">Open file</button>
</div> -->


<div class="input-group mb-3">
<input type="file" class="form-control" [accept]="requiredFileType" (change)="onFileSelected($event)">
</div>


<span>Import status: {{importStatus || "..."}}</span>