<div class="flex-shrink-0 p-3" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">TubeManager</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#bookmarks-collapse" aria-expanded="true">
        Bookmarks
      </button>
      <div class="collapse show" id="bookmarks-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="bookmarks" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#channels-collapse" aria-expanded="true">
        Channels
      </button>
      <div class="collapse show" id="channels-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="channels" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#tags-collapse" aria-expanded="false">
        Tags
      </button>
      <div class="collapse" id="tags-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="tags" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#categories-collapse" aria-expanded="false">
        Categories
      </button>
      <div class="collapse" id="categories-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#data-management-collapse" aria-expanded="false">
        Data Management
      </button>
      <div class="collapse" id="data-management-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="import" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Import from SkyTube</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Import</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Export</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>