<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/recentImport" [ngClass]="{'nav-link':true, 'active':recentSelected}"
          (click)="onSelect('recent')">Recently added</a></li>
      <li class="nav-item"><a routerLink="/bookmarks" [ngClass]="{'nav-link':true, 'active':bookmarksSelected}"
          (click)="onSelect('bookmarks')">Bookmarks</a></li>
      <li class="nav-item"><a routerLink="/import" [ngClass]="{'nav-link':true, 'active':importSelected}"
          (click)="onSelect('import')">Import</a></li>
      <li class="nav-item"><a routerLink="/tags" [ngClass]="{'nav-link':true, 'active':tagsSelected}"
          (click)="onSelect('tags')">Tags</a></li>
    </ul>
  </header>
</div>