<div *ngIf="bookmark">
  <div class="card shadow-sm">
    <img src={{bookmark.thumbnailUrl}} class="bd-placeholder-img card-img-top" width="100%" height="225" (click)="onThumbnailSelected(bookmark.videoUrl)"/>
    <div class="card-body">
      <p class="card-text title">{{bookmark.title}}</p>
      <p class="card-text" [innerHtml]="bookmark.description | slice: slicePipeformat.start: slicePipeformat.end" 
          (click)="toggleDescription()">...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDetailsClick(bookmark)">More...</button>
        </div>
        <div class="align-items-right">
          <span class="badge rounded-pill bg-primary ms-2" *ngFor="let tag of bookmark.tags">{{tag.title}}</span>
        </div>
        <div class="align-items-left">
          <span class="badge rounded-pill bg-secondary ms-2" >{{bookmark.category}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
