<div class="container mt-5 col-lg-8">
  <div class="row row-cols-4">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#tagCreateModal">Add tag</button></div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr class="text-center">
        <th class="col-sm-3" scope="col">Tag</th>
        <th class="col-sm-3" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _tag of tags" class="text-center">
        <td class="align-middle">{{_tag.title}}</td>
        <td class="align-middle">
          <h4><i class="bi bi-pen mx-1" data-bs-toggle="modal" data-bs-target="#tagEditModal" data-bs-input-title="@mdo"
              (click)="onEditTag(_tag)"></i>
            <i class="bi bi-trash mx-1" (click)="onDeleteTag(_tag)"></i>
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal for create tag -->
<div class="modal fade" id="tagCreateModal" tabindex="-1" aria-labelledby="tagCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagCreateModalLabel">Add new tag</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <label for="tagNameInput" class="col-form-label">Name</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="col-form-label" name="tagNameInput" placeholder="tag name..." #tagName>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onAddTag(tagName.value)"
          data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for create tag -->
<div class="modal fade" id="tagEditModal" tabindex="-1" aria-labelledby="tagEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagEditModalLabel">Edit tag</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <label for="tagNameInput" class="col-form-label">Name</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="col-form-label" name="tagNameInput" placeholder="{{editedTag.title}}"
              #tagEditName>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSaveEditedTag(editedTag.id, tagEditName.value)"
          data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>