<div class="bg-body-tertiary">

  <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
      aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
      <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
        <use href="#circle-half"></use>
      </svg>
      <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
          aria-pressed="false">
          <svg class="bi me-2 opacity-50" width="1em" height="1em">
            <use href="#sun-fill"></use>
          </svg>
          Light
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
          aria-pressed="false">
          <svg class="bi me-2 opacity-50" width="1em" height="1em">
            <use href="#moon-stars-fill"></use>
          </svg>
          Dark
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
          aria-pressed="true">
          <svg class="bi me-2 opacity-50" width="1em" height="1em">
            <use href="#circle-half"></use>
          </svg>
          Auto
          <svg class="bi ms-auto d-none" width="1em" height="1em">
            <use href="#check2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="container">
    <main>
      <div class="py-4 text-center">
        <h2>Add new bookmark</h2>
        <p class="lead">Add new bookmark manually</p>
      </div>

      <div class="row">
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-4">Base information</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid title is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="channel" class="form-label">Channel</label>
                <input type="text" class="form-control" id="channel" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid Channel name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="email" class="form-control" id="address" placeholder="">
                <div class="invalid-feedback">
                  Please enter a valid url.
                </div>
              </div>

              <div class="col-12">
                <label for="description" class="form-label">Description<span
                    class="text-body-secondary">(Optional)</span></label>
                <input type="text" class="form-control" id="address" placeholder="" required>
                <div class="invalid-feedback">
                  Please enter description.
                </div>
              </div>
            </div>
            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Add</button>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>