<main>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          size
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let _page of pagesSequence()">
            <a class="dropdown-item" href="#" (click)="onPageSizeSelected(_page)">{{_page}}</a></li>
        </ul>
      </div>

      <li class="page-item">
        <a class="page-link" [ngClass]="{'disabled':prevDisabled}" (click)="onPageChange(currentPage-1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let _page of numSequence(pageSize)">
        <a routerLink="" [ngClass]="{'page-link':true, 'active':isCurrent(_page)}" (click)="onPageChange(_page)">{{_page}}</a></li>
      <li class="page-item">
        <a class="page-link" [ngClass]="{'disabled':nextDisabled}" (click)="onPageChange(currentPage+1)">Next</a>
      </li>
    </ul>
  </nav>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let _bookmark of bookmarks">
          <bookmark [bookmark]="_bookmark"></bookmark>
        </div>
      </div>
    </div>
  </div>
</main>
