services:

  postgres:
    image: postgres
    restart: unless-stopped
    shm_size: '4gb'
    container_name: postgres
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER docker
      - POSTGRES_PASSWORD docker
      - POSTGRES_DB tubemanager
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    profiles:
      - devel
      - full

  cache:
    image: redis:7.2-alpine
    restart: always
    container_name: redis
    ports:
      - 6379:6379
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes: 
      - cache:/data
    profiles:
      - devel
      - full

  api:
    image: tubemanager-api
    build: ../src/service/
    depends_on:
      - postgres
      - cache
    restart: unless-stopped
    container_name: tubemanager-api
    environment:
      - ASPNETCORE_URLS=http://localhost:5126
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5126
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    ports:
      - 5126:5126
    network_mode: host
    profiles:
      - full

  ui:
    image: tubemanager-ui
    build: ../src/ui/tubemanager-ui
    restart: unless-stopped
    container_name: tubemanager-ui
    ports:
      - 4200:4200
    profiles:
      - full

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    ports:
      - 8888:80
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin:/var/lib/pgadmin
    profiles:
      - devel
      - full

volumes:
  postgres:
    driver: local
  cache:
    driver: local
  pgadmin:
    driver: local
