<div class="modal-header">
  <h4 class="modal-title">Bookmark details</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h5>{{ bookmark?.title }}</h5>
      <div class="clearfix">
        <div class="col-md-6 float-md-end mb-3 ms-md-3">
          <img src="{{bookmark?.thumbnailUrl}}" class="rounded img-thumbnail">
        </div>
        <div class="col-md-6 float-md-end mb-3 ms-md-3">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="tagsDropdown" ngbDropdownToggle
              (click)="onShowDropdown()">Tags</button>
            <div ngbDropdownMenu aria-labelledby="tagsDropdown">
              <input type="text" placeholder="Search.." id="myInput" (keyup)="onKeyUp($event)">
              <button *ngFor="let tag of tags" ngbDropdownItem (click)="onDropdownPosClicked(tag)">{{tag.title}}</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 float-md-end mb-3 ms-md-3">
          <h5>
            <span class="badge rounded-pill bg-primary ms-2" *ngFor="let tag of bookmark?.tags">{{tag.title}}</span>
          </h5>
        </div>
        <div class="col-md-6 float-md-end mb-3 ms-md-3">
          
        </div>
        <p [innerHtml]=bookmark?.description></p>
        <!-- </div> -->
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>